// General styles for the site

html {
  font-size: 125%;
  background-position: cover;
  background-repeat: repeat;
  background-image: url(../assets/texture.jpg);
}

// body {
// }

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    width: 80%;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
  color: $text;
}

h2,
h3 {
  color: $accent-pink;
}

h1,
h2,
h3 {
  font-family: $header-text;
  margin: 0 auto;
  text-align: center;
}

p,
input,
label {
  color: $text;
  font-family: $page-text;
}

.header {
  background-image:linear-gradient(55deg, rgba(161,214,226,0.7) 50%, rgba(161, 226, 173, 0.7) 50%), url(../assets/texture.jpg);
  background-position: cover, contain;
  background-repeat: no-repeat, repeat;
}

.background-one,
.background-three {
  background: $accent-blue;
  padding-bottom: 10px;
}

.background-two {
  background: $accent-green;
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

.fa-arrow-down {
  color: #F1F1F2;
}

.next,
.nextTwo,
.nextThree {
  background: $accent-pink;
  border: $accent-pink;
  padding: 15px 15px 10px 15px;
  position: relative;
  transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
  border-radius: 50%;
}

.next:hover,
.nextTwo:hover,
.nextThree:hover {
  background: pink;
}

.next:focus,
.nextTwo:focus,
.nextThree:focus {
  box-shadow: 0 0 15px $accent-pink;
  transform: scale(1.1);
}

.next:active,
.nextTwo:active,
.nextThree:active {
  box-shadow: 0 0 15px $accent-pink;
  transform: scale(1.1);
}



.fa-arrow-down {
  position: absolute;
  top: 40%;
  left: 40%;
}

.icon{
  width: 64px;
  height: 64px;
  fill: #ccc;
  stroke:  #FE4365;
  stroke-width: 2px;
  fill: transparent;
  transition: fill 0.3s, cursor 0.1s;
}


.icon:hover{
  fill: pink;
  cursor: pointer;
}