// General styles for the site

html {
    font-size: 125%;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    width: 80%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3 {
  color: $text;
  font-family: $headerText;
}

p,
input,
label, 
h4 {
  color: $text;
  font-family: $pageText;
}


// img {
//   max-width: 100%;
//   width: 100%;
//   display: block;
// }

// .skipLink {
//   position: absolute;
//   left: -1000px;
//   top: 5px;
//   z-index: 999;
//   background: white;
//   color: black;
// }

// .skipLink:focus {
//   left: 0;
// }

h1,
h2,
h3,
h4 {
  margin: 0 auto;
  text-align: center;
}
header {
  background-image: linear-gradient(55deg, $accentBlueLight 50%, $accentGreen 50%);
}
.explanation {
  background: $accentPinkLight;
}
.backgroundOne {
  background: $accentBlueLight;
}
.backgroundTwo {
  background: $accentGreen;
}

.backgroundThree {
  background: $accentBlueLight;
}

span {
  text-transform: uppercase;
}