//header styles

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

h1 {
  font-size: 2rem;
  padding: 50px 0;
  .fa {
    color: $accent-pink;
    margin: 0 5px;
  }
}

header p {
  text-align: center;
  span {
    text-transform: uppercase;
  }
}

.header {
  height: 100%;
}


.explanation {
  font-size: 1rem;
  line-height: 1.7;
  padding: 25px 0;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $accent-pink-light;
}

.arrow {
  display: flex;
  justify-content: center;
  color: $text;
}

@media (min-width: 504px) {
  h1 span {
    display: block;
  }
}


@media (min-width: 650px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 966px) {
  h1 {
    font-size: 4rem;
    span {
      display: inline-block;
    }
  }
}
