//header styles

h1 {
  font-size: 2rem;
  padding: 50px 0;
  .fa {
    color: $accentPink;
    margin: 0 5px;
  }
}

header p {
  text-align: center;
  span {
    text-transform: uppercase;
  }
}


.explanation {
  font-size: 1rem;
  line-height: 1.7;
  padding: 25px 0;
}

.arrow {
  display: flex;
  justify-content: center;
  color: $text;
}

@media (min-width: 504px) {
  h1 span {
    display: block;
  }
}


@media (min-width: 650px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 966px) {
  h1 {
    font-size: 4rem;
    span {
      display: inline-block;
    }
  }
}
