//styles relationship-container
.background-two,
.background-one,
.submit-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//styles form
fieldset {
  border: none;
  padding: 0;
}
main h3 {
  padding: 15px 0;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

//styles name section
.name-container label {
  display: inline-block;
  margin-top: 15px;
}

.name-container input {
  margin: 25px 0;
  padding: 10px;
  width: 100%;
  border: 5px solid $accent-pink-light;
  transition: background 0.5s, box-shadow 0.5s;
  &:active {
    background: $accent-pink-light;
  }
}

.name-container input:focus {
  background: $accent-pink-light;
  box-shadow: 5px 5px $accent-pink;
  outline: none;
  outline-style: none;
  border-color: transparent;
}

.alert {
  background: $accent-pink-light;
  padding: 20px 10px;
  border: 5px solid $accent-pink;
  display: inline-block;
}

.alert-change {
  background: transparent;
  border: transparent;
}

.alert-change-relationship {
  background: transparent;
  border: transparent;
}

.scroll-button {
  opacity: 0;
}

//styles relationship
.relationship {
  padding: 15px 0;
  i {
    padding: 0 15px;
  }
}

.relationship label {
  font-size: 0.9rem;
}

[type="radio"] {
    opacity: 0;
    position: absolute;
}

[type="radio"] + label {
  transition: color 0.5s, text-shadow 0.5s;
}

[type="radio"]:focus + label,
[type="radio"]:active + label{
  color: $accent-pink;
  text-shadow: -1px -1px $accent-pink;
}

[type="radio"]:checked + label {
  color: $accent-pink;
  text-shadow: -1px -1px $accent-pink,
  -2px -2px $accent-pink,
}

//styles submit section

.submit-container {
  padding-bottom: 30px;
} 

.button-center {
  display: flex;
  justify-content: center;
}

.button {
  font-family: $page-text;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: $accent-pink-light;
  border: 10px solid $accent-pink;
  text-align: center;
  color: $text;
  transition: background 0.5s, box-shadow 0.5s, transform 0.5s;
  outline: none;
}

.button:hover {
  background: lighten($accent-pink, 10%);
}

.button:focus {
  transform: scale(1.1, 1.1);
}

.button:active {
  box-shadow: 5px 5px $accent-pink;
  transform: scale(0.9, 0.9);

}

.twitter-share-button {
  display: inline-block;
}

.results {
  display: flex;
  justify-content: center;
}


.results h2 {
  background: $accent-pink-light;
  line-height: 1.5;
  border: 5px solid $accent-green;
  margin: 20px 0;
  padding: 50px 20px;
}

.twitter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.try-again {
  text-align: center;
}

@media (min-width: 455px) {
  .relationship label {
  font-size: 1.1rem;
}
}

@media (min-width: 585px) {
  .relationship label span {
    display: block;
  }

}

@media (min-width: 660px) {
  .relationship label span {
    display: inline-block;
  }
}

@media (min-width: 760px) {
  .wrapper-small {
    width: 60%;
    margin: 0 auto;
  }

  main h3 {
    font-size: 2rem;
  }

  .relationship label span {
    display: block;
  }
}

@media (min-width: 890px) {
  .relationship label span {
    display: inline-block;
  }
}