$header-text: 'Lobster', cursive;
$page-text: 'Montserrat', sans-serif;
$text: #474946;
$accent-blue: rgba(161, 214, 226, 0.7);
$accent-pink: #8F1447;
$accent-pink-light: rgba(226, 181, 161, 0.7);
$accent-green: rgba(161, 226, 173, 0.7);