$headertext: 'Varela Round', sans-serif;
$pagetext: 'Cabin', sans-serif;
$background: #F1F1F2;
$text: #474946;
$accentlightBlue: #A1D6E2;
$accentdarkBlue: #1995AD;
$accentpink: #ad1957;
$accentPinkLight: #e2b5a1;
$accentPurple: #a8a1e2;
$accentGreen: #a1e2ad;