article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 80%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: #474946;
}

h2,
h3 {
  color: #8F1447;
}

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
  margin: 0 auto;
  text-align: center;
}

p,
input,
label {
  color: #474946;
  font-family: "Montserrat", sans-serif;
}

header {
  background-image: linear-gradient(55deg, #A1D6E2 50%, #a1e2ad 50%);
}

.explanation {
  background: #e2b5a1;
}

.background-one,
.background-three {
  background: #A1D6E2;
}

.background-two {
  background: #a1e2ad;
}

.hidden {
  display: none;
}

h1 {
  font-size: 2rem;
  padding: 50px 0;
}

h1 .fa {
  color: #8F1447;
  margin: 0 5px;
}

header p {
  text-align: center;
}

header p span {
  text-transform: uppercase;
}

.explanation {
  font-size: 1rem;
  line-height: 1.7;
  padding: 25px 0;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #474946;
}

@media (min-width: 504px) {
  h1 span {
    display: block;
  }
}

@media (min-width: 650px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 966px) {
  h1 {
    font-size: 4rem;
  }
  h1 span {
    display: inline-block;
  }
}

fieldset {
  border: none;
  padding: 0;
}

main h3 {
  padding: 15px 0;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.name-container label {
  display: inline-block;
  margin-top: 15px;
}

.name-container input {
  margin: 25px 0;
  padding: 10px;
  width: 100%;
  border: 5px solid #e2b5a1;
  -webkit-transition: background 0.5s, -webkit-box-shadow 0.5s;
  transition: background 0.5s, -webkit-box-shadow 0.5s;
  transition: background 0.5s, box-shadow 0.5s;
  transition: background 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.name-container input:active {
  background: #e2b5a1;
}

.name-container input:focus {
  background: #e2b5a1;
  -webkit-box-shadow: 5px 5px #8F1447;
          box-shadow: 5px 5px #8F1447;
  outline: none;
  outline-style: none;
  border-color: transparent;
}

.alert {
  background: #e2b5a1;
  padding: 20px 10px;
  border: 5px solid #8F1447;
  display: inline-block;
}

.alert-change {
  background: #A1D6E2;
  border: 5px solid #A1D6E2;
}

.alert-change-relationship {
  background: #a1e2ad;
  border: 5px solid #a1e2ad;
}

.scroll-button {
  opacity: 0;
}

.relationship {
  padding: 15px 0;
}

.relationship i {
  padding: 0 15px;
}

.relationship label {
  font-size: 0.9rem;
}

[type="radio"] {
  opacity: 0;
  position: absolute;
}

[type="radio"] + label {
  -webkit-transition: color 0.5s, text-shadow 0.5s;
  transition: color 0.5s, text-shadow 0.5s;
}

[type="radio"]:focus + label,
[type="radio"]:active + label {
  color: #8F1447;
  text-shadow: -1px -1px #8F1447;
}

[type="radio"]:checked + label {
  color: #8F1447;
  text-shadow: -1px -1px #8F1447, -2px -2px #8F1447, -3px -3px #8F1447;
}

.submit-container {
  padding-bottom: 30px;
}

.button-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  font-family: "Montserrat", sans-serif;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #e2b5a1;
  border: 10px solid #8F1447;
  text-align: center;
  color: #474946;
  -webkit-transition: background 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: background 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: background 0.5s, box-shadow 0.5s, transform 0.5s;
  transition: background 0.5s, box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  outline: none;
}

.button:hover {
  background: #eed4c8;
}

.button:focus {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.button:active {
  -webkit-box-shadow: 5px 5px #8F1447;
          box-shadow: 5px 5px #8F1447;
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

.twitter-share-button {
  display: inline-block;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results h2 {
  background: #e2b5a1;
  line-height: 1.5;
  border: 5px solid #a1e2ad;
  margin: 20px 0;
  padding: 50px 20px;
}

@media (min-width: 455px) {
  .relationship label {
    font-size: 1.1rem;
  }
}

@media (min-width: 585px) {
  .relationship label span {
    display: block;
  }
}

@media (min-width: 660px) {
  .relationship label span {
    display: inline-block;
  }
}

@media (min-width: 760px) {
  .wrapper-small {
    width: 60%;
    margin: 0 auto;
  }
  main h3 {
    font-size: 2rem;
  }
  .relationship label span {
    display: block;
  }
}

@media (min-width: 890px) {
  .relationship label span {
    display: inline-block;
  }
}
